@media (min-width: 2559px) {
    .navbar-brand img {
        display: inline-block;
        width: 400px;
        height: 120px;
    }

    .navbar-nav .nav-item {
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 20px;
        padding-right: 20px;    
        font-size: 30px;
        line-height: 45px;
        font-weight: 200;
        font-family: 'Montserrat';
        transition: 0.5s;
    }
    
    .nav-item:hover {
        font-size: 35px;
        border: 1px solid white;
    }
    
    .special {
        color: white;
        font-size: 130px;
        font-weight: 700;
        font-family: 'Montserrat';
    }

    .partOne {
        position: absolute;
        top: 50%;
        left: 95%;
        transform: translate(-95%, -50%);
        width: 260px;
        height: 596px;
        z-index: 2;
    }
    
    .partTwo {
        position: absolute;
        top: 50%;
        left: 15%;
        transform: translate(-15%, -50%);
        width: 160px;
        height: 538px;
    }

    .aboutHeading {
        font-size: 90px;
        padding-bottom: 25px;
    }
    
    .line {
        border-top: 10px solid #2274F8;
        width: 350px;
    }
    
    .desc {
        padding-top: 25px;
        color: black;
        font-size: 40px;
        font-weight: 200;
        font-family: 'Montserrat';
    }

    .sectionTwo {
        padding-top: 3%;
        margin-top: 0%;
    }

    .temp {
        padding-left: 2%;
        padding-right: 2%;
    }

    .imageContent {
        content: url(Images/anonPartTwo.png);
        width: 350px;
        height: 694px;

    }

    .imageTextContent {
        font-family: 'Montserrat';
        font-weight: 200;
        font-size: 30px;
        width: 35%;
        margin-left: 3%;
    }

    .sectionTwo ul li a {
        text-decoration: none;
        color: black;
        font-family: 'Montserrat';
        font-size: 30px;
        font-weight: 200;
    }

    .faqTitle h1 {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 50px;
    }

    .faqTitle hr {
        border-top: 5px solid #2274F8;
        width: 70%;
    }

    .card-title {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 40px;
        padding-bottom: 10px;
    }

    .card-text {
        font-family: 'Montserrat';
        font-weight: 200;
        font-size: 30px;
        text-align: left;
    }

    .form-control {
        border: none !important;
        outline: none !important;
        border-bottom: 1px solid gray !important;
        font-family: 'Montserrat';
        font-size: 25px !important;
        font-weight: 350 !important;
    }

    .end {
        color: white;
        font-family: 'Montserrat';
        font-weight: 200;
        font-size: 40px;
    }
}